<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Books - Dashboard</title>
  </head>
  <body>
    <h2>Welcome to the dashboard</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis sint
      eius fugiat ipsa temporibus! Dicta laudantium exercitationem eaque commodi
      incidunt officiis rerum, enim repellat error magnam iure eius dolor quae?
      Illum ipsa aspernatur ad quia voluptatem eius quasi iste temporibus,
      officia dolor corporis, minus tempore quos alias. Dolore, nam reiciendis
      sint distinctio numquam commodi voluptatem delectus. Debitis, officiis
      est. Inventore? Voluptate eos molestiae sunt laudantium rerum esse
      aperiam, ratione perspiciatis quidem rem, itaque officia dolorem doloribus
      necessitatibus praesentium deserunt omnis dicta earum facilis. Illum earum
      at corrupti recusandae ex dicta.
    </p>
  </body>
</html>
