<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>

    <!-- <div class="create-blog content">
      <form action="/blogs" method="POST">
        <label for="title">Blog title: </label>
        <input type="text" id="title" name="title" />
        <label for="snippet">Blog snippet: </label>
        <input type="text" id="snippet" name="snippet" />
        <label for="body">Blog body: </label>
        <input type="text" id="body" name="body" required />
        <button>Submit</button>
      </form>
    </div> -->

    <h1>Create a New Blog</h1>

    <form action="/blogs" method="POST">
      <label for="title">Title</label>
      <input type="text" id="title" name="title" required />

      <label for="snippet">Snippet</label>
      <input type="text" id="snippet" name="snippet" required />

      <label for="body">Body</label>
      <textarea id="body" name="body" required></textarea>

      <button type="submit">Add Blog</button>
    </form>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
