<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog Ninja | <%= title %></title>
  </head>
  <body>
    <nav>
      <div>
        <a href="/"> <h1>Blog Ninja</h1></a>
      </div>

      <ul>
        <li><a href="/">Blog</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
      </ul>
    </nav>

    <div>
      <h2>All Blogs</h2>

      <% if(blogs.length > 0){ %> <%blogs.forEach((blog)=>{ %>
      <h3><%= blog.title %></h3>
      <p><%= blog.body %></p>
      <% }) %> <% } else{ %>
      <p>No Blogs to Display</p>
      <% } %>
    </div>
  </body>
</html>
