<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About page</title>
  </head>
  <body>
    <h1>About Us</h1>
    <p>Hello, <%= username %>! Here are the navigation links:</p>

    <ul>
      <% links.forEach(link => { %>
      <li><%= link %></li>
      <% }) %>
    </ul>
  </body>
</html>
