<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign up</title>
  </head>
  <body>
    <h2>Sign Up Form</h2>

    <a href="/login">Go to Login</a>

    <form action="/sign-up" method="POST">
      <input
        type="text"
        name="username"
        required
        placeholder="Enter your username"
      />
      <input
        type="password"
        name="password"
        required
        placeholder="Enter your password"
      />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
