<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <%- include("partials/header") %>

    <h1>Login</h1>
    <%- include("partials/errors", { errors: errors }) %>

    <form action="/auth/login" method="POST">
      <label>Email</label><br />
      <input type="email" name="email" value="<%= oldInput.email || "" %>"
      required /><br />

      <label>Password</label><br />
      <input type="password" name="password" required /><br />

      <button type="submit">Login</button>
    </form>
  </body>
</html>
