<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book Form</title>
  </head>
  <body>
    <h2>Add new Book</h2>

    <form method="POST" action="/form">
      <input type="text" name="title" placeholder="Enter book title" /> <br />
      <input type="text" name="author" placeholder="Enter author name" /><br />
      <input type="text" name="year" placeholder="Enter year publish" /> <br />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
