<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <h2>Login</h2>
    <p><a href="/auth/register">Back to Registration Form</a></p>

    <% if (errors && errors.length > 0) { %>
    <ul style="color: red">
      <% errors.forEach(err => { %>
      <li><%= err.msg %></li>
      <% }) %>
    </ul>
    <% } %>

    <form method="POST" action="/auth/login">
      <input type="email" name="email" placeholder="Enter your Email Address" />
      <input
        type="password"
        name="password"
        placeholder="Enter your password"
      />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
